/* bad code */
html, body {
    margin: 0;
    padding: 0;

    font-size: xx-large;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900; /* 100-900 */
    font-style: normal;
    font-variation-settings: "slnt" 0;
    line-height: 1;

    background-color: black;
    color: white;
}

#Content {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#MainText {
    margin-left: 10%;
    margin-top: 6%;
    width: 50%;
    height: 50%;
}

#Title {
    margin: 0;
}

#textChange {
    background: -webkit-linear-gradient(45deg, #0b00e4, #00ff95 80%);
    width: fit-content;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Subtext {
    line-height: -.5;
    font-size: large;
    font-weight: 500;
    color: rgb(48, 48, 48);
}

#GithubText {
    text-decoration: none;
    font-size: large;
}

@media only screen and (max-width: 1000px) {
    #MainText {
        width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    #MainText {
        width: 80%;
    }
}

@media only screen and (max-width: 630px) {
    html, body {
        font-size: x-large;
    }

    .Subtext {
        font-size: medium;
    }
}

@media only screen and (max-width: 450px) {
    #MainText {
        width: 90%;
    }
}